if SHIELD_DASBOB_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "dasbob keyboard"

# Make left the central side
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DASBOB_LEFT || SHIELD_DASBOB_RIGHT

config ZMK_SPLIT
    default y

endif
