# No whitespace after the comma or in your part name!
config SHIELD_DASBOB_LEFT
    def_bool $(shields_list_contains,dasbob_left)

# No whitespace after the comma or in your part name!
config SHIELD_DASBOB_RIGHT
    def_bool $(shields_list_contains,dasbob_right)
